h1 {
    margin: 30px;
    font-size: 40px;
}

:host{
    margin: 30px;
    width: 90%;
    display: block;
}

mat-select {
    text-align: center;
    background: lightblue;
}

.ban-col1 {
    float: left;
    width: 50%;
    min-width: 405px;
    max-width: 630px;
}

.ban-col2 {
    float: left;
    width: 40%;
    min-width: 324px;
    max-width: 504px;
    margin-top: 0px;
    margin-left: 30px;
}

.mtgm-gote {
    position: relative;
    top: 30px;
}

.gote-koma-palette {
    position: relative;
    top: 10px;
}

.sente-koma-palette {
    position: relative;
    top: 20px;
}

.control-and-display {
    position: relative;
    top: 35px;
}

.control {
    mat-select {
        font-weight: 800;
        display: table-cell;
        vertical-align: middle;
    }
    .tesuu-label {
        float: left;
        position: relative;
        font-size: 18px;
        width: 90%;
        margin-top: 5px;
        min-height: 30px;
    }
    .tesuu {
        border: solid;
        border-color: black;
        position: relative;
        display: table;
        background: lightblue;
        min-height: 30px;
        width: 85%;
    }
    .button {
        margin-top: 15px;
    }
    button {
        font-weight: 800;
        width: 90%;
        min-height: 30px;
        margin-top: 10px;
    }
    float: left;
    width: 20%;
    position: relative;
}

.result-display {
    float: left;
    width: 80%;
}
