<div class="row1">
    <div class="col1">
        <h2>保存履歴</h2>
    </div>
    <div class="col2">
        <button mat-raised-button (click)="resrore()" [disabled]="!avRestore">復元</button>
    </div>
    <div class="col3">
        <button mat-raised-button (click)="delete()" [disabled]="!avDelete">削除</button>
    </div>
    <div class="col4">
        <button mat-raised-button (click)="allDelete()">全削除</button>
    </div>
    <div class="col5">
        <button mat-raised-button (click)="import(true)">インポート(上書き)</button>
    </div>
    <div class="col6">
        <button mat-raised-button (click)="import(false)">インポート(追加)</button>
    </div>
    <div class="col7">
        <button mat-raised-button (click)="download()">エクスポート</button>
    </div>
</div>
<table mat-table [dataSource]="records" class="mat-elevation-z8">

  <ng-container matColumnDef="select">
    <th class="select" mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>レコード名</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>更新日</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>
  
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>State</th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="selection.toggle(row)"></tr>
</table>