:host{
    width: 100%;
    display: block;
    min-width: 759px;
    max-width: 1164px;
    margin-top: 30px;
}

h2 {
    font-size: 28px;
}

table {
    width: 100%;
}

button {
    min-width: 80px;
}

.row1 {
    display: flex;
}

.r1c1 {
    width: 20%;
}

.r1c1, .r1c2, .r1c3, .r1c4, .r1c5, .r1c6, .r1c7 {
    margin-left: 15px;
}

.tbSelect, .tbId {
    width: 50px;
}