<div class="ban-contents" (window:resize)="onResize($event)">
    <div class="ban-col1" cdkDropListGroup>
        <mat-grid-list cols="9" rowHeight="{{rh}}">
            <div
                cdkDropList
                [cdkDropListData]="matrix"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of matrix" cdkDrag>
                    {{m}}
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <div class="ban-col2">
        <mat-grid-list class="gote_koma_contents" cols="8" rowHeight="{{rh}}">
            <mat-grid-tile *ngFor="let i of gote_images">
                <img *ngIf="i" [src]="i" [width]="rh*0.86" [height]="rh">
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list class="sente_koma_contents" cols="8" rowHeight="{{rh}}">
            <mat-grid-tile *ngFor="let i of sente_images">
                <img *ngIf="i" [src]="i" [width]="rh*0.86" [height]="rh">
            </mat-grid-tile>
        </mat-grid-list>
        <div class="mtgm">
            <div class="mtgm_gote">
                <div class="mtgm_label">後手<br>持駒</div>
                <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
                    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
                        <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
                        <mat-select *ngIf="i>6">
                            <mat-option value="1">11</mat-option>
                            <mat-option value="2">21</mat-option>
                            <mat-option value="3">31</mat-option>
                        </mat-select>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="mtgm_sente">
                <div class="mtgm_label">先手<br>持駒</div>
                <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
                    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
                        <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
                        <mat-select style="color: black;" *ngIf="i>6">
                            <mat-option value="1">11</mat-option>
                            <mat-option value="2">21</mat-option>
                            <mat-option value="3">31</mat-option>
                        </mat-select>
                    </mat-grid-tile>    
                </mat-grid-list>
            </div>
        </div>
    </div>
</div>