<div class="ban-contents" (window:resize)="onResize($event)">
    <div class="ban-col1" cdkDropListGroup>
        <div class="ban">
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban1List="cdkDropList"
                [cdkDropListData]="ban1"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban1" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban2List="cdkDropList"
                [cdkDropListData]="ban2"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban2" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban3List="cdkDropList"
                [cdkDropListData]="ban3"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban3" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban4List="cdkDropList"
                [cdkDropListData]="ban4"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban4" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban5List="cdkDropList"
                [cdkDropListData]="ban5"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban5" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban6List="cdkDropList"
                [cdkDropListData]="ban6"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban6" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban7List="cdkDropList"
                [cdkDropListData]="ban7"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban7" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban8List="cdkDropList"
                [cdkDropListData]="ban8"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban8" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list 
                cols="9" 
                rowHeight="{{rh}}"
                cdkDropList
                cdkDropListOrientation="horizontal"
                #ban9List="cdkDropList"
                [cdkDropListData]="ban9"
                (cdkDropListDropped)="drop($event)">
                <mat-grid-tile *ngFor="let m of ban9" cdkDrag>
                    <img *ngIf="m" 
                        [src]="m" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="mtgm">
            <div class="mtgm_gote">
                <div class="mtgm_label">後手<br>持駒</div>
                <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
                    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
                        <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
                        <mat-select *ngIf="i>6">
                            <mat-option value="1">11</mat-option>
                            <mat-option value="2">21</mat-option>
                            <mat-option value="3">31</mat-option>
                        </mat-select>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="mtgm_sente">
                <div class="mtgm_label">先手<br>持駒</div>
                <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
                    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
                        <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
                        <mat-select *ngIf="i>6">
                            <mat-option value="1">11</mat-option>
                            <mat-option value="2">21</mat-option>
                            <mat-option value="3">31</mat-option>
                        </mat-select>
                    </mat-grid-tile>    
                </mat-grid-list>
            </div>
        </div>
    </div>
    <div class="ban-col2">
        <div>※盤上にドラッグ&ドロップして配置してください</div>
        <mat-grid-list 
            class="gote_koma_contents" 
            cols="8" 
            rowHeight="{{rh}}"
            cdkDropList
            [cdkDropListData]="gote_images"
            [cdkDropListConnectedTo]="[ban1List, ban2List, ban3List, ban4List, ban5List, ban6List, ban7List, ban8List, ban9List]">
            <mat-grid-tile *ngFor="let p of gote_images">
                <img *ngIf="p" 
                    [src]="p" 
                    [width]="rh*0.86" 
                    [height]="rh" 
                    [cdkDragData]="p" 
                    cdkDrag>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list 
            class="sente_koma_contents" 
            cols="8" 
            rowHeight="{{rh}}"
            cdkDropList
            [cdkDropListData]="sente_images"
            [cdkDropListConnectedTo]="[ban1List, ban2List, ban3List, ban4List, ban5List, ban6List, ban7List, ban8List, ban9List]">
            <mat-grid-tile *ngFor="let p of sente_images">
                <img *ngIf="p" 
                    [src]="p" 
                    [width]="rh*0.86" 
                    [height]="rh" 
                    [cdkDragData]="p" 
                    cdkDrag>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="control_and_display">
            <div class="button_contents">
                <button mat-stroked-button>計算する</button>
                <button mat-stroked-button>リセット</button>
            </div>
            <div class="result_display">
                <mat-card class="">
                    <mat-card-title>計算結果</mat-card-title>
                    <mat-card-content>
                        先手：２２飛<br>
                        後手：１４玉<br>
                        先手：２３飛成<br>
                        後手：同玉<br>
                        先手：３３角成<br>
                        後手：同玉<br>
                        先手：３４金
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>