<div class="ban-contents" (window:resize)="onResize($event)">
    <div class="ban-col1">
        <div class="ban">
            <mat-grid-list cols="9" rowHeight="{{rh}}">
                <div *ngFor="let m of matrix; let i = index">
                <mat-grid-tile
                    cdkDropList
                    id="masu_{{i}}"
                    [cdkDropListData]="matrix[i]"
                    (cdkDropListDropped)="drop($event)">
                    <img *ngIf="matrix[i][0]" 
                        [src]="matrix[i][0]" 
                        [width]="rh*0.86" 
                        [height]="rh">
                </mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
        <div class="mtgm">
            <div class="mtgm_gote">
                <div class="mtgm_label">後手<br>持駒</div>
                <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
                    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
                        <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
                        <mat-select *ngIf="i>6">
                            <mat-option value="1">11</mat-option>
                            <mat-option value="2">21</mat-option>
                            <mat-option value="3">31</mat-option>
                        </mat-select>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
            <div class="mtgm_sente">
                <div class="mtgm_label">先手<br>持駒</div>
                <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
                    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
                        <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
                        <mat-select *ngIf="i>6">
                            <mat-option value="1">11</mat-option>
                            <mat-option value="2">21</mat-option>
                            <mat-option value="3">31</mat-option>
                        </mat-select>
                    </mat-grid-tile>    
                </mat-grid-list>
            </div>
        </div>
    </div>
    <div class="ban-col2">
        <div>※盤上にドラッグ&ドロップして配置してください</div>
        <mat-grid-list 
            class="gote_koma_contents" 
            cols="8" 
            rowHeight="{{rh}}"
            cdkDropList
            [cdkDropListData]="gote_images"
            [cdkDropListConnectedTo]="masu_ids">
            <mat-grid-tile *ngFor="let p of gote_images">
                <img *ngIf="p" 
                    [src]="p" 
                    [width]="rh*0.86" 
                    [height]="rh" 
                    [cdkDragData]="p" 
                    cdkDrag>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list 
            class="sente_koma_contents" 
            cols="8" 
            rowHeight="{{rh}}"
            cdkDropList
            [cdkDropListData]="sente_images"
            [cdkDropListConnectedTo]="masu_ids">
            <mat-grid-tile *ngFor="let p of sente_images">
                <img *ngIf="p" 
                    [src]="p" 
                    [width]="rh*0.86" 
                    [height]="rh" 
                    [cdkDragData]="p" 
                    cdkDrag>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="control_and_display">
            <div class="button_contents">
                <button mat-stroked-button>計算する</button>
                <button mat-stroked-button>リセット</button>
            </div>
            <div class="result_display">
                <mat-card class="">
                    <mat-card-title>計算結果</mat-card-title>
                    <mat-card-content>
                        先手：２２飛<br>
                        後手：１４玉<br>
                        先手：２３飛成<br>
                        後手：同玉<br>
                        先手：３３角成<br>
                        後手：同玉<br>
                        先手：３４金
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>