<div class="mtgm_gote">
    <div class="mtgm_label">後手<br>持駒</div>
    <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
        <mat-grid-tile *ngFor="let i of mtgm_tile_count">
            <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>
            <mat-select *ngIf="i>6">
                <mat-option value="1">11</mat-option>
                <mat-option value="2">21</mat-option>
                <mat-option value="3">31</mat-option>
            </mat-select>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="mtgm_sente">
    <div class="mtgm_label">先手<br>持駒</div>
    <mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
        <mat-grid-tile *ngFor="let i of mtgm_tile_count">
            <div *ngIf="i<=6">{{getMtgmLabel(i)}}</div>                
            <mat-select *ngIf="i>6">
                <mat-option value="1">11</mat-option>
                <mat-option value="2">21</mat-option>
                <mat-option value="3">31</mat-option>
            </mat-select>
        </mat-grid-tile>    
    </mat-grid-list>
</div>
