<mat-label class="mtgm_label">{{player.desc2}}<br>持駒</mat-label>
<mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
        {{getMtgmLabel(i)}}
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="mtgm_contents" cols="7" rowHeight="30">
    <mat-grid-tile *ngFor="let i of mtgm_tile_count">
        <mat-select [(value)]="mtgm[i].value" (selectionChange)="onChange(mtgm[i])">
            <mat-option *ngFor="let v of opValues[i]" [value]="v">
                {{v}}
            </mat-option>
        </mat-select>
    </mat-grid-tile>
</mat-grid-list>
